@import  url( https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville:wght@700&display=swap);
@import url( https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css);


/* ============================================ */
/* Global Styles */

h1,h2,h3,h4,h5,h6{
    font-family: 'Libre Baskerville', serif;
}

p{
    font-family: 'Lato', sans-serif;
}



.full-height{
    height: 100vh ;
}


/* ============================================ */
/* Components */
/* Navigation */

.nav-link{
    font-family: 'Lato', sans-serif;
    color: rgba(0,0,0,0.6);
}

.nav-link:hover{
    color: #18382b;
}

.nav-link.active{
    color: #18382b;
    border-bottom: 2px solid #18382b;
}



/* Carousel */
button{
    border: none;
    padding: 16px 20px;
    border-radius: 8px;
    background-color: #18382b;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #ffffff;
}

.carousel-item{
    background-color: #e6f2e9;
}

.carousel-control-next, .carousel-control-prev{
    top: auto;
    right: auto;
    left: 24px;
    bottom: 24px;
    width: auto;
    background-color: #ffffff;
    padding: auto;
    border-radius: 50%;
}
.carousel-control-next{
    left: 84px;
}
/* ================================================================================= */
/* Accordion Components */
.accord-con{
    margin-top: 50px;
    margin-bottom: 50px;
}

.accordion-button:not(.collapsed) {
    background-color: rgba(24,56,43,0.6);
    color: white;
}

.accordion-button {
    color: #18382b;
    background-color: #e6f2e9;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.accordion-button::after {
    background-image: url(../assets/svgs/radish-svgrepo-com.svg);
}

.accordion-button:not(.collapsed)::after{
    background-image: url(../assets/svgs/radish-svgrepo-com.svg);
}



/* Card */
.card{
    border-radius: 150px 150px 12px 12px;
    background-color: #f3f3f3;
    text-align: center;
    height: 440px;
    border: none;
}

.card-img-top{
    width: auto;
    height: 320px;
    margin: auto;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card-img-top.small{
    height: 200px;
}

.card-text{
    color: #18382b;
}

/* ========================================================================================================== */
/* Table components */

.table-img{
    width: auto;
    height: 160px;
    margin: auto;
    border-radius: 50px;
}

th,td{
    color: #18382b;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    vertical-align: middle;
}

.wishlist-head{
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
}

.remove{
    background-image: url(../assets/svgs/minus-sign-of-a-line-in-horizontal-position-svgrepo-com.svg);
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
    transition: all 1s;
}

.remove:hover{
    background-image: url(../assets/svgs/multiply-svgrepo-com.svg);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
}



/* Home Page */
.hero-image{
    height: 90vh;
    position: relative;
    bottom: -100px;
}


.slider-con{
    height: 100vh;
    width: 66%;
    margin-left: -16.5%;
    overflow: hidden;
   position: relative;
}


/* Wishlist page */
